[submodule "copystagram-frontend"]
	path = copystagram-frontend
	url = https://github.com/a3magic3pocket/copystagram-frontend.git
[submodule "copystagram-backend"]
	path = copystagram-backend
	url = https://github.com/a3magic3pocket/copystagram-backend.git
